body {
  font-family: helvetica, arial, sans-serif, typewriter;
  margin: 2em;
  background-color: black;
}

button {
  border-radius: 5px;
  background-color: gray;
  color: white;
}

div {
  color: white;
}

#points {
  font-size: 25px;
  text-shadow: 0px 0px 7px white;
}

.tab {
  font-size: 20px;
  transition-duration: 0.2s;
}

.tab:hover {
  color: gray;
  background-color: black;
}

#tab5, .prestige {
  color: blue;
  background-color: cyan;
  border-color: blue;
  transition-duration: 0.2s;
}

#tab5:hover, .prestige:hover {
  color: cyan;
  background-color: blue;
}

#prestige {
  height: 75px;
  width: 125px;
  transition-duration: 0.2s;
}

.pulocked {
  height: 100px;
  width: 150px;
  border-color: red;
  color: white;
  background-color: black;
  transition-duration: 0.2s;
}

.pubuyable {
  height: 100px;
  width: 150px;
  color: white;
  background-color: red;
  border-color: red;
  transition-duration: 0.2s;
}

.pubought {
  height: 100px;
  width: 150px;
  color: white;
  background-color: green;
  border-color: green;
  transition-duration: 0.2s;
}

.buyable {
  border-color: green;
  color: green;
  background-color: black;
  transition-duration: 0.2s;
}

.buyable:hover {
  color: white;
  background-color: green;
}

.buyableLocked {
  border-color: red;
  color: white;
  background-color: black;
  transition-duration: 0.2s;
}

#pps {
  font-size: 12px;
  color: gray;
}

.discord {
  color: cyan;
  background-color: blue;
  border-color: blue;
}

#b {
  text-shadow: 0px 0px 14px #006db6;
}

.ach {
  border-radius: 0px;
  height: 90px;
  width: 90px;
  background-color: #333333;
  color: white;
  border-width: 0px;
}

.achcomp {
  border-radius: 0px;
  height: 90px;
  width: 90px;
  background-color: green;
  color: white;
  border-width: 0px;
}

#news {
  color: white;
  position: relative;
  display: inline-block;
  font-size: 15px;
  white-space: nowrap;
  font-weight: bold
}

#game {
  border: 2px solid white;
  padding: 2px;
  width: 75%;
  overflow: hidden;
  margin: auto;
  text-align: left;
}
