/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif, typewriter;
  margin: 2em;
}

h1 {
  font-style: italic;
  color: #373fff;
}

.tab {
  font-size: 20px;
  border-color: white;
  color: gray;
}

.number {
  font-size: 25px;
}