/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif, typewriter;
  margin: 2em;
}

h1 {
  font-style: italic;
  color: #373fff;
}

.tab {
  font-size: 20px;
  border-color: white;
  color: gray;
}

.number {
  font-size: 25px;
}

.buildingButton {
  background-color: black;
  color: white;
}

.xButton {
  background-color: #FF00FF;
  font-size: 18px;
}

.upgradeButton {
  background-color: #00FF00;
  height: 100px;
  width: 150px;
}

.yButton {
  background-color: #00FF00;
  font-size: 18px;
}

.mult {
  color: orange;
}

.multButton {
  background-color: orange;
  border-color: #000000;
  border-width: 3px;
  color: white; 
}

.resetButton {
  background-color: purple;
  border-color: #FF00FF;
  color: #FF00FF; 
}

.resetPoints {
  color: #FF00FF;
}

.resetTab {
  background-color: purple;
  border-color: #FF00FF;
  color: #FF00FF; 
  font-size: 18px;
}

.reupg {
  background-color: purple;
  border-color: #FF00FF;
  color: #FF00FF;
  height: 100px;
  width: 150px;
}
#generation:hover {
  background-color: gray;
  border-color: lightgray;
  color: white
}
#upgrades:hover {
  background-color: gray;
  border-color: lightgray;
  color: white
}
#options:hover {
  background-color: gray;
  border-color: lightgray;
  color: white
}
#achievements:hover {
  background-color: gray;
  border-color: lightgray;
  color: white
}
#resetting:hover {
  background-color: #FF00FF;
  border-color: purple;
  color: purple; 
  font-size: 18px;
}
button {
  border-radius: 5px /**/
}
.marquee {
  position: relative;
  overflow: hidden;
  height: 25px;
  width: 100%;
  border: 1px solid orange;
}

.marquee p {
  position: absolute;
  margin: 0;
  line-height: 25px;
  white-space: nowrap;
  animation: marquee 10s linear infinite;
}

@keyframes marquee {
  0% { transform: translateX(800%); }
  100% { transform: translateX(-100%); }
}
.ticker-wrap {
  position: fixed;
  bottom: 0;
    left: 0;
  width: 100%;
  overflow: hidden;
  height: 4rem;
  background-color: #e41b17;
  box-sizing: content-box;
}
.ticker-wrap .ticker {
  display: inline-block;
  height: 4rem;
  line-height: 4rem;
  white-space: nowrap;
  padding-right: 100%;
  box-sizing: content-box;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-name: ticker;
  animation-name: ticker;
  -webkit-animation-duration: 30s;
  animation-duration: 30s;
}
.ticker-wrap .ticker__item {
  display: inline-block;
  padding: 0 2rem;
  font-size: 2rem;
  color: white;
}
@-webkit-keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}
@keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}