body {
  font-family: helvetica, arial, sans-serif, typewriter;
  margin: 2em;
}

button {
  border-radius: 5px;
}

#points {
  font-size: 25px;
}

.tab {
  font-size: 20px;
  transition-duration: 0.2s;
}

.tab:hover {
  color: white;
  background-color: gray;
}

#tab3, .prestige {
  color: blue;
  background-color: cyan;
  border-color: blue;
  transition-duration: 0.2;
}

#tab3:hover {
  color: cyan;
  background-color: blue;
}